  <!-- token-input.component.html -->
  <div class="token-container">
    <div *ngFor="let token of tokens" class="token">
      {{ token }}
      <span (click)="removeToken(token)" class="remove-icon">&times;</span>
    </div>
    <input
      [(ngModel)]="inputValue"
      (keypress)="onKeyPress($event)"
      (input)="onInput()"
      placeholder="Type and press Enter to add tokens"
      class="inner-input"
    />
    
  </div>
  <div *ngIf="suggestions.length > 0" class="autocomplete-dropdown">
    <ul>
      <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
        {{ suggestion }}
      </li>
    </ul>
  </div>